@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,700&display=swap");
body {
  font-family: sans-serif;
  background: #2f2f33;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 1%;
  background-color: #2f2f33;
  text-align: center;
}

img {
  height: 50px;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.2s ease 0s;
}

.nav__links li a:hover {
  color: #ebebeb;
}

button {
  color: #2f2f33;
  padding: 7px 14px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

button:hover {
  background-color: #9c9c9c;
  color: #ffffff;
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  border-radius: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.box h1 {
  color: white;
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5653eb;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.box input[type="submit"] {
  border: 0;
  border-radius: 10px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.box input[type="submit"]:hover {
  background: #2ecc71;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.copyright {
  margin-top: 680px;
  position: relative;
  display: block;
  background-color: #2f2f33;
  color: #ffffff;
  z-index: 1;
  align-self: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.copyright .company-name a {
  font-size: 16px;
  color: #6699ee;
}

/*custom scrollbar*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border: 4px transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}
