@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2f2f33;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 1%;
}

img {
  height: 50px;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.2s ease 0s;
}

.nav__links li a:hover {
  color: #ebebeb;
}

button {
  color: #2f2f33;
  padding: 7px 14px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #9c9c9c;
  color: #ffffff;
}

.mapper {
  width: 100%;
  height: auto;
}

.copyright {
  margin-top: 1.5%;
  position: relative;
  display: block;
  background-color: #2f2f33;
  color: #ffffff;
  z-index: 1;
  align-self: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.copyright .company-name a {
  font-size: 16px;
  color: #6699ee;
}

/*custom scrollbar*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border: 4px transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}
